@media (min-width:760px ) {
   #menuButton{
    display: none;
}
header{
    display: block;
    text-align: center;
}
nav{
    
    max-height: 500px;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;

}
nav ul {
    display: flex;
    justify-content: end;
    height: 100%;
   
}

nav ul li a{
    font-size: 18px;
    padding: 1rem 2vw;
}


.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 10px 6rem;
    margin: 0 auto;
    justify-content: center;
}
.grid-view{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 10px 6rem;
    margin: 0 auto;
    place-items: center;
    text-align: center;
}
.list-view .company-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  height: 100px;
  box-shadow: none;
  border-bottom: .5px solid var(--secondary-color);
  
  
  

}
#companiesContainer.list-view img{
    display: none;
}
    
#companiesContainer.list-view{
    padding: 50px;
   
}

.list-view .company-card:nth-child(even) {
  background-color: lightgray;
  
}
.list-view .company-card:nth-child(even) p{
  color: var(--contrast-color); 
  
}
.list-view .company-card p {
  flex: 1 1 25%;
  margin: 5px 0;
} 
.list-view .company-card h3{
    flex: 1 1 25%;
    margin: 10px;
    text-align: start;
}



}
 