:root{
    --primary-color: #0b0f5f; 
    --secondary-color: #b5fd58; 
    --accent-color: #00f0ff;
    --contrast-color: #ffffff;
  }
  
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  html, body {
    overflow-x: hidden;
  }
  .dark-mode{
    background-color: #121212;
    color:white;
  }
  .dark-mode nav{
    background: #333;
  }
  #darkModeToggle{

    border: none;
  }
  body{
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0 auto;
    
  }
  
  
  h1, h2, nav a{
    font-weight: 500;
    font-style: normal;
  
  }
  header{
    
    background-color:  var(--primary-color);
    color: var(--contrast-color);
    box-shadow: 0 0 30px #333;  
     
  }
  header{
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    align-items: center;
    padding: 10px 20px;
    position: relative; 
 
    
  }
  .logo img{
    border-radius: 15%;
    margin: 10px 0 0 0 ;
    border: 3px solid var(--secondary-color);
    
    
  }
 
 
  .logo{
    grid-column: 1;
  
}
.site-title{
  grid-column: 2;
  justify-content: center;
  align-items: center;
  
}
.site-title p a{
    font-weight: 700;
    font-size: 25px;
    
  }

.dark-mode-icon-container{
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.dark-mode-icon-container img{
  width: 30px;
  height: 30px;
  margin: 0 10px; 
  border-radius: 20px;

}
  header a{
   text-decoration: none;
   color: var(--secondary-color);
   margin: 0 0 10px 0;
  }
  h1, #business-h2{
    margin: 25px 0 0 25px;
  
  }
  .logo{
    justify-items: center;
    align-items: center;
    
  }
 nav{
  background-color: var(--secondary-color);
  
 }
 
#menu-button{
  font-size: 2rem;
  background: none;
  border: none;
  color:#000;
  cursor: pointer;
  padding: .25rem 2vw;
  width: 100%;
  text-align: right;
}
ul.menu-links li a{
  display: block;
  padding: .75rem 2vw;
  color: var(--primary-color);
  text-decoration: none;
}
#menu-button.open::before{
  content:"X";
}
li.current-menu-item a{
  background-color: rgba(0,0,0,0.2);
}
ul.menu-links{
  display: none;
  list-style-type: none;
}

ul.menu-links a:hover{
  text-decoration: underline;
} 
ul.menu-links.open{
  display: block;
}



  .cards-container{
    max-width: 90%;
    margin: auto;
    padding: 15px;
    
  }
  #weatherResult{
    font-size: 16px;
    margin-top: 15px;
  }
  .cards-container img{
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    }
  
  .event-card h2{
    background-color: var(--primary-color);
    color: var(--contrast-color);
    text-align: center;
    border-bottom: none;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    
  }
  .event-card{

    
    color: var(--contrast-color);
    margin: 15px 0;
    padding: 0 0 10px 0;
    box-shadow: 0 0 10px #333;
    transition: all 0.5s ease-out;
  }
  .event-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #333;

  }  
  .event-card p{
    font-weight: 450;
    margin: 10px 0;
    text-align: center;
    color: var(--primary-color);
    padding: 10px;
  }
  .event-card img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  
  }
  .weather-container, .forecast-container{
    background-color: var(--primary-color);
    color: var(--contrast-color);
    padding: 0 0 10px 0;
    margin: 20px 0;
    box-shadow: 0 0 10px #333;
    transition: all 0.5s ease-out;
  }
  .weather-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #333;
  }
  .weather-container h2, .forecast-container h2{
    background-color: var(--accent-color);
    color: var(--primary-color);
    text-align: center;
    border-bottom: none;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
  }
  .weather-container img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  
  }
  .weather-container p{
    text-align: center;
    color: var(--accent-color);
    line-height: 2rem;
  }
#weatherResult{
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}

#forecastResult{
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
}









.company-card{
  border: 1px solid var(--primary-color);
  padding: 20px;
  height: 420px;  
  margin: 20px 0;
  color: var(--primary-color);  
  box-shadow: 0 0 10px #333;
  transition: all 0.5s ease-out;
  text-align: center;
  

}
.company-card a{
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  
}
.company-card a:hover{
  text-decoration: underline;
}

.company-card p{
 
  text-align: center;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 16px;
  
}
.company-card h2
.company-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #333;
}

.gold{
  color: gold;
}
.silver{
  color: silver;
}
.member{
  color: blue;
}


  figcaption{
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
  }
  #inline-links{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    padding: 20px;
    
  }
  
  #inline-links li a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: var(--contrast-color);
    background-color: var(--secondary-color);
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
   
   
    
  }
  #inline-links li a:hover{
    color: var(--accent-color);
  }
  
  
  #block-links{
    display: block;
    list-style-type: none;
    padding:0;
    
  }
  #block-links li {
  margin: 5px 0;
  }
  
  #block-links a{
    text-decoration: none;
    font-weight: 700;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border-color 0.5s ease-in-out;
  
  }
  
  #block-links a:hover{
    border: 2px solid var(--secondary-color);
  }
  #block-links a:active{
  background-color: var(--accent-color);
  color:var(--secondary-color)
  }
  footer{
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px;
  }
  #bold {
    font-weight: bold;
  }
  #lastModified{
    color: var(--primary-color);
  }
  .social-media-icon{
    text-decoration: none;
    
  }
  .social-media-icon img{
    width: 30px;
    height: 30px;
    margin: 10px;
    
  }