:root{
    --primary-color: #0b0f5f; 
    --secondary-color: #fd5858; 
    --accent-color: #F5F5DC;
    --contrast-color: white;
  }
  
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  html, body {
    overflow-x: hidden;
  }
  .dark-mode{
    background-color: #121212;
    color:white;
  }
  .dark-mode nav{
    background: #333;
  }
  #darkModeToggle{

    border: none;
  }
  body{
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin: 0 auto;
    
  }
  
  
  h1, h2, nav a{
    font-weight: 500;
    font-style: normal;
  
  }
  header{
    
    background-color:  var(--primary-color);
    color: var(--contrast-color);
    box-shadow: 0 0 30px #333;  
     
  }
  header{
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    align-items: center;
    padding: 10px 20px;
    position: relative; 
 
    
  }
  .logo img{
    border-radius: 15%;
    margin: 10px 0 0 0 ;
    border: 3px solid var(--secondary-color);
    
    
  }
 
 
  .logo{
    grid-column: 1;
  
}
.site-title{
  grid-column: 2;
  justify-content: center;
  align-items: center;
  
}
.site-title p a{
    font-weight: 700;
    font-size: 25px;
    
  }

.dark-mode-icon-container{
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.dark-mode-icon-container img{
  width: 30px;
  height: 30px;
  margin: 0 10px; 
  border-radius: 20px;

}
  header a{
   text-decoration: none;
   color: var(--secondary-color);
   margin: 0 0 10px 0;
  }
  h1{
    margin: 25px 0 0 25px;
  
  }
  .logo{
    justify-items: center;
    align-items: center;
    
  }
 
  .menu-icon{
    display: flex;
    flex-direction: column;
    cursor:pointer;
    padding: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index:1000;
  }
  .bar{
    background-color: var(--secondary-color);
    height:4px;
    width: 30px;
    margin: 5px 0;
    transition: 0.4s;
  }
  nav{
    display: none;
   
  
  }
  
  nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav ul li{
    padding:15px;
    text-align: center;
  }
  
  nav ul li a{
    text-decoration: none;
    color: var(--contrast-color);
    display: block;
  }
  
  
  nav.active{
    display:block;
    text-align: center;
    background-color: var(--secondary-color);
    width: 100%;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    }
  
  .menu-icon.open .bar:nth-child(1){
    transform:  translateY(6px)rotate(45deg);
  }
  
  .menu-icon.open .bar:nth-child(2){
    transform:  translateY(-7px)rotate(-45deg);
  }
  .menu-icon.open .bar:nth-child(3){
    opacity:0;
  }
  
  
  
  nav a:hover{
    text-decoration: underline;
  }
  .cards-container{
    max-width: 90%;
    margin: auto;
    background-color: var(--contrast-color);
    border-radius: 10px;
    padding: 15px;
    
  }
  #weatherResult{
    font-size: 16px;
    margin-top: 15px;
  }
  .cards-container img{
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    }
  
  .cards-container h2{
    background-color: var(--primary-color);
    color: var(--contrast-color);
    text-align: center;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    
  }
  .event-card{

    background-color: var(--accent-color);
    color: var(--contrast-color);
    border-radius: 10px;
    margin: 15px 0;
    padding: 10px;
    box-shadow: 0 0 10px #333;
  }
  .event-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #333;
  }  .event-card p{
    margin: 10px 0;
    text-align: center;
    color: var(--primary-color);
  }
  .event-card img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  
  }
  
.company-card{
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 20px;  
  margin: 10px 0;
  background-color: var(--accent-color);
  color: var(--primary-color);  
  box-shadow: 0 0 10px #333;
  transition: all 0.3s ease-out;
  text-align: center;

}
.company-card a{
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 3px;
  transition: all 0.3s ease-out;
  ;
}
.company-card a:hover{
  color: var(--secondary-color);
}
.company-card p{
  margin: 15px;
  text-align: center;
  color: var(--primary-color);
  font-weight: 400;
  line-height: 20px;
  
}
.company-card:hover{
  transform: scale(1.05);
  box-shadow: 0 0 20px #333;
}

.gold{
  color: gold;
}
.silver{
  color: silver;
}
.member{
  color: blue;
}


















  figcaption{
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
  }
  #inline-links{
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    padding: 20px;
    
  }
  
  #inline-links li a{
    display: block;
    text-decoration: none;
    font-weight: 700;
    color: var(--contrast-color);
    background-color: var(--secondary-color);
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
   
   
    
  }
  #inline-links li a:hover{
    color: var(--accent-color);
  }
  
  
  #block-links{
    display: block;
    list-style-type: none;
    padding:0;
    
  }
  #block-links li {
  margin: 5px 0;
  }
  
  #block-links a{
    text-decoration: none;
    font-weight: 700;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    text-align: center;
    padding: 10px;
    display: block;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border-color 0.5s ease-in-out;
  
  }
  
  #block-links a:hover{
    border: 2px solid var(--secondary-color);
  }
  #block-links a:active{
  background-color: var(--accent-color);
  color:var(--secondary-color)
  }
  footer{
    background-color: var(--secondary-color);
    text-align: center;
    color: var(--primary-color);
    font-weight: 500;
    padding: 10px;
  }
  #bold {
    font-weight: bold;
  }
  #lastModified{
    color: var(--primary-color);
  }
  .social-media-icon{
    text-decoration: none;
    
  }
  .social-media-icon img{
    width: 30px;
    height: 30px;
    margin: 10px;
    
  }