@media (min-width: 760px){


#menuButton{
    display: none;
}
header{
    display: block;
}
.profile{
    display: flex;
    justify-content: center;
}

nav{
   
    
    max-height: 500px;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
        


}
nav ul {
    display: flex;
    align-items: center;
    height: 100%;
   
}
nav ul li{
    flex: 1 1 100%;
    
    
}
nav ul a{
    font-size: 18px;
}

main{
    display: grid;
    grid-template-columns: 3fr auto;
    grid-gap: 20px;
    padding: 0 3.5rem;
}
main h1{
    grid-column: span 2;
}
.cards{
    border-radius: 10px;
    box-shadow: 4px 4px 8px gray;
    
}
.cards ul{
    margin: 20px;
    padding: 20px;
    line-height: 35px;
}
.cards img{
    padding: 20px;
}
.cards h2{
    display: block;
    font-size: 20px; 
    height: 60px; 
    line-height: 60px; 
}
.one{
    font-size: 18px;
}
.three{
    grid-column: span 2;
  }

.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 16px;
    
}

.course-card{
    padding: 16px;
    width: 100%;
}

}















