:root{
  --primary-color: #cade46; 
  --secondary-color: #06396c; 
  --accent-color: #ecbb93;
  --contrast-color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
  overflow-x: hidden;
}
body{
  font-family: "Quicksand", sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 0 auto;
  
}


h1, h2, nav a{
  font-weight: 500;
  font-style: normal;

}
header{
  background-color:  var(--primary-color);
  color: var(--contrast-color);
  box-shadow: 0 0 30px #333;  
  justify-items: center;
  align-items: center;
}
#profile-name{
  padding: 10px;
  font-weight: 700;
  font-size: 25px;
  
  
}
header a{
 text-decoration: none;
 color: var(--secondary-color);
 margin: 0 0 10px 0;
 
}
h1{
  margin: 25px 0 0 25px;

}

  
header img{
border-radius: 50%;
margin: 10px 0 0 0 ;
border: 3px solid var(--secondary-color);

}
#menuButton::before{
  content:"\2630";
}

#menuButton{
  font-size: 2rem;
  background: none;
  border: none;
  color:var(--secondary-color);
  cursor: pointer;
  padding: .25rem 2vw;
  width: 100%;
  text-align: right;
  position:absolute;
  top: 10px
}
nav {
  max-height: 0;
  transform: translateY(-20px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;

}
li.current-menu-item a{
  background-color: rgba(0,0,0,0.2);
}
nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li{
  
  text-align: center;
  
}
ul.menuLinks li a{

  display: block;
  padding: .75rem 2vw;
  color: #fff;
  text-decoration: none;
  
}


li.current-menu-item a{
  background-color: rgba(0,0,0,0.2);
}
nav.open{
  
  max-height: 500px;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  }



ul.menuLinks a:hover{
  color: var(--primary-color);
  transition: all 0.3s ease-in-out;
}
nav a.open{
  color: var(--accent-color);
  font-weight: bold;
}
.cards{
  padding: 20px;
  text-align: center;
}
.cards img{
  padding: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  }

.cards h2{
  background-color: var(--secondary-color);
  color: var(--contrast-color);
  text-align: center;
  border-radius: 10px 10px 0 0;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  
}
.one{
  text-align: left;
  
}
.one ul{
  margin: 10px 0 0 40px;
  max-width: 250px;
}
.one ul li{
  padding: 5px;
}
figcaption{
  font-style: italic;
  font-family:'Courier New', Courier, monospace;
}
#inline-links{
  display: flex;
  list-style-type: none;
  justify-content:space-around;
  padding: 20px;
  
}

#inline-links li a{
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: var(--contrast-color);
  background-color: var(--secondary-color);
  padding: 10px 30px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
 
 
  
}
#inline-links li a:hover{
  color: var(--accent-color);
}


#block-links{
  display: block;
  list-style-type: none;
  padding:0;
  
}
#block-links li {
margin: 5px 0;
}

#block-links a{
  text-decoration: none;
  font-weight: 700;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  text-align: center;
  padding: 10px;
  display: block;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border-color 0.5s ease-in-out;

}

#block-links a:hover{
border: 2px solid var(--secondary-color);
}

footer{
  background-color: var(--secondary-color);
  text-align: center;
  color: var(--contrast-color);
  font-weight: 400;
  padding: 10px;
}
#lastModified{
  color: var(--accent-color);
}